@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "rocGroteskLight";
  src: url("../utils/Font/RocGrotesk-Light.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskReg";
  src: url("../utils/Font/RocGrotesk-Regular.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskMid";
  src: url("../utils/Font/RocGrotesk-Medium.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskBold";
  src: url("../utils/Font/RocGrotesk-Bold.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
