@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "rocGroteskLight";
  src: url("../utils/Font/RocGrotesk-Light.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskReg";
  src: url("../utils/Font/RocGrotesk-Regular.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskMid";
  src: url("../utils/Font/RocGrotesk-Medium.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskBold";
  src: url("../utils/Font/RocGrotesk-Bold.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sectionTitle {
  color: var(--okd, #2b2f38);
  text-align: center;

  /* Display md/semibold */
  font-family: "rocGroteskBold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
}

.sectionDesc {
  color: var(--Gray-600, #5d6679);
  text-align: center;

  /* Text lg/regular */
  font-family: "rocGroteskReg";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.orange_btn {
  border-radius: 12px;
  border: 1.5px solid #ff8e76;
  background: var(
    --G,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fa6444
  );
  box-shadow: 0px 0px 4px 2px rgba(255, 89, 54, 0.4) inset;
}
.white_btn {
  border-radius: 12px;
  border: 1.5px solid #f0f1f3;
  background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 0.3) 0%,
      rgba(240, 241, 243, 0) 100%
    ),
    #fff;
  box-shadow: 0px 0px 7px 2px #f0f1f3 inset;
}
.white_transparent {
  border-radius: 12px;
  border: 1.5px solid var(--Gray-100, #d0d3d9);
  background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 0.3) 0%,
      rgba(240, 241, 243, 0) 100%
    ),
    #f3f3f3;
  box-shadow: 0px 0px 7px 2px #f0f1f3 inset;
}
.gray_btn {
  border-radius: 12px;
  border: 1.5px solid var(--Gray-700, #48505e);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2b2f38;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4) inset;
}

.socialBtn {
  border-radius: 82px;
  background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 0.3) 0%,
      rgba(240, 241, 243, 0) 100%
    ),
    #fff;
  box-shadow: 0px 0px 7px 2px #f0f1f3 inset;
}
.behanceBtn {
  border-radius: 72px;
  border: 1.5px solid #216fff;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #1869ff;
  box-shadow: 0px 0px 4px 2px rgba(25, 103, 246, 0.4) inset;
}
.dribbleBtn {
  border-radius: 72px;
  border: 1.5px solid #ff72a2;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ee6996;
  box-shadow: 0px 0px 4px 2px rgba(248, 109, 156, 0.4) inset;
}
.linkedinBtn {
  border-radius: 72px;
  border: 1.5px solid #3679ca;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2867b2;
  box-shadow: 0px 0px 4px 2px #2675d3 inset;
}
.mediumBtn {
  border-radius: 52px;
  border: 1.5px solid var(--Gray-700, #48505e);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #16171b;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4) inset;
}

.experienceCard1::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #ff897d;
  filter: blur(65px);
  z-index: 11111;
}
.experienceCard2::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #62e0e6;
  filter: blur(65px);
  z-index: 11111;
}
.experienceCard3::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #ff8cc6;
  filter: blur(65px);
  z-index: 11111;
}
.experienceCard4::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #7195ff;
  filter: blur(65px);
}

/* Companies side shadow  */
.companies-side-shadow {
  position: relative;
}

.companies-side-shadow::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1111111;
  background: linear-gradient(88deg, rgba(246, 244, 244, 0) 0%, #000 100%);
}

.companies-side-shadow::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1111111;
  background: linear-gradient(277deg, rgba(246, 244, 244, 0) 0%, #000 100%);
}

.linkedin-side-shadow {
  position: relative;
}

.linkedin-side-shadow::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(
    88deg,
    rgba(245, 245, 245, 0) 5.24%,
    #f5f5f5 95.07%
  );
}

.linkedin-side-shadow::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(
    262deg,
    rgba(245, 245, 245, 0) 6.42%,
    #f5f5f5 93.85%
  );
}

.swiper-button-prev.custom-button,
.swiper-button-next.custom-button {
  width: 70px;
  height: 45px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6b6b;
  font-size: 12px;
  transition: all 0.2s linear;
  font-weight: bold;
  border-radius: 42px;
  border: 1.5px solid #f0f1f3;
  background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 0.3) 0%,
      rgba(240, 241, 243, 0) 100%
    ),
    #fff;
  box-shadow: 0px 0px 7px 2px #f0f1f3 inset;
  position: static !important;
  margin: 0;
}

.swiper-button-prev.custom-button::after {
  display: none !important;
}

.swiper-button-next.custom-button::after {
  display: none !important;
}

.swiper-button-prev.custom-button:hover,
.swiper-button-next.custom-button:hover {
  border-radius: 52px;
  border: 1.5px solid #ff8e76;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fa6444;
  box-shadow: 0px 0px 4px 2px rgba(255, 89, 54, 0.4) inset;
}

.swiper-button-prev.custom-button svg,
.swiper-button-next.custom-button svg {
  padding: 11px;
}

.swiper-button-prev.custom-button:hover svg,
.swiper-button-next.custom-button:hover svg {
  fill: white;
  stroke: white;
  color: white;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static !important;
}

.swiper-pagination-bullet {
  background-color: #ff6b6b;
  opacity: 1;
}

.custom-bullet {
  cursor: pointer;
  width: 12px !important;
  height: 12px !important;
  background-color: #fa6444 !important;
  margin: 0 5px;
}

.swiper-pagination-bullet-active.custom-bullet {
  height: 24px !important;
  border-radius: 50px !important;
  background-color: #fa6444 !important;
}

.mySwiper .swiper-wrapper {
  margin-bottom: 170px;
}

.icon-button {
  width: 3rem; /* Adjust to the size of your icon plus padding */
  transition: width 0.3s ease-in-out; /* Smooth width transition */
}

.icon-button:hover {
  width: auto; /* Width adjusts to fit the content */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
