@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "rocGroteskLight";
  src: url("../utils/Font/RocGrotesk-Light.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskReg";
  src: url("../utils/Font/RocGrotesk-Regular.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskMid";
  src: url("../utils/Font/RocGrotesk-Medium.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "rocGroteskBold";
  src: url("../utils/Font/RocGrotesk-Bold.woff2") format("woff2"),
    url("../utils/Font/RocGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sectionTitle {
  color: var(--okd, #2b2f38);
  text-align: center;

  /* Display md/semibold */
  font-family: "rocGroteskBold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
}

.sectionDesc {
  color: var(--Gray-600, #5d6679);
  text-align: center;

  /* Text lg/regular */
  font-family: "rocGroteskReg";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.orange_btn {
  border-radius: 12px;
  border: 1.5px solid #ff8e76;
  background: var(
    --G,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fa6444
  );
  box-shadow: 0px 0px 4px 2px rgba(255, 89, 54, 0.4) inset;
}
.white_btn {
  border-radius: 12px;
  border: 1.5px solid #f0f1f3;
  background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 0.3) 0%,
      rgba(240, 241, 243, 0) 100%
    ),
    #fff;
  box-shadow: 0px 0px 7px 2px #f0f1f3 inset;
}
.white_transparent {
  border-radius: 12px;
  border: 1.5px solid var(--Gray-100, #d0d3d9);
  background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 0.3) 0%,
      rgba(240, 241, 243, 0) 100%
    ),
    #f3f3f3;
  box-shadow: 0px 0px 7px 2px #f0f1f3 inset;
}
.gray_btn {
  border-radius: 12px;
  border: 1.5px solid var(--Gray-700, #48505e);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2b2f38;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4) inset;
}

.socialBtn {
  border-radius: 82px;
  background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 0.3) 0%,
      rgba(240, 241, 243, 0) 100%
    ),
    #fff;
  box-shadow: 0px 0px 7px 2px #f0f1f3 inset;
}
.behanceBtn {
  border-radius: 72px;
  border: 1.5px solid #216fff;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #1869ff;
  box-shadow: 0px 0px 4px 2px rgba(25, 103, 246, 0.4) inset;
}
.dribbleBtn {
  border-radius: 72px;
  border: 1.5px solid #ff72a2;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ee6996;
  box-shadow: 0px 0px 4px 2px rgba(248, 109, 156, 0.4) inset;
}
.linkedinBtn {
  border-radius: 72px;
  border: 1.5px solid #3679ca;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #2867b2;
  box-shadow: 0px 0px 4px 2px #2675d3 inset;
}
.mediumBtn {
  border-radius: 52px;
  border: 1.5px solid var(--Gray-700, #48505e);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #16171b;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4) inset;
}

.experienceCard1::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #ff897d;
  filter: blur(65px);
  z-index: 11111;
}
.experienceCard2::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #62e0e6;
  filter: blur(65px);
  z-index: 11111;
}
.experienceCard3::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #ff8cc6;
  filter: blur(65px);
  z-index: 11111;
}
.experienceCard4::after {
  content: "";
  position: absolute;
  right: -110.5px;
  top: -142px;
  width: 100%;
  height: 100%;
  border-radius: 330px;
  background: #7195ff;
  filter: blur(65px);
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #fa6444 !important;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 24px !important;
  border-radius: 50px !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
